.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: white;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

.logo span {
  color: red;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  font-weight: 600;
  color: #444;
  transition: 0.2s ease;
}

.nav-list li a:hover {
  color: #6d5dfc;
}